-- one3Seven MVP schema - apply in Supabase SQL editor. TODO: versioned migrations.
create extension if not exists "pgcrypto";

create table if not exists public.profiles (
  id uuid primary key references auth.users (id) on delete cascade,
  email text,
  full_name text,
  role text check (role is null or role in ('worker', 'firm')),
  created_at timestamptz not null default now()
);

create table if not exists public.firm_profiles (
  id uuid primary key default gen_random_uuid(),
  profile_id uuid not null references public.profiles (id) on delete cascade,
  firm_name text not null,
  firm_code text not null unique,
  contact_email text,
  practice_areas text[] not null default '{}',
  geographic_filters text[] not null default '{}',
  subscription_status text not null default 'trialing',
  plan_id text not null default 'beta_pilot',
  created_at timestamptz not null default now()
);

create table if not exists public.intakes (
  id uuid primary key default gen_random_uuid(),
  worker_id uuid not null references public.profiles (id) on delete cascade,
  intake_number text not null unique,
  status text not null default 'draft',
  workflow_status text not null default 'Upload Complete',
  linked_firm_id uuid references public.firm_profiles (id) on delete set null,
  submission_channel text,
  active_until timestamptz,
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now(),
  submitted_at timestamptz,
  worker_metadata jsonb not null default '{}'::jsonb
);

create table if not exists public.uploaded_files (
  id uuid primary key default gen_random_uuid(),
  intake_id uuid not null references public.intakes (id) on delete cascade,
  worker_id uuid not null references public.profiles (id) on delete cascade,
  file_name text not null,
  file_path text not null,
  file_type text,
  file_size bigint,
  category text not null default 'Uncategorized',
  content_hash text,
  created_at timestamptz not null default now()
);

create table if not exists public.timeline_events (
  id uuid primary key default gen_random_uuid(),
  intake_id uuid not null references public.intakes (id) on delete cascade,
  event_date text not null,
  title text not null,
  category text not null,
  ai_summary text not null default '',
  worker_context text not null default '',
  created_at timestamptz not null default now()
);

create table if not exists public.intake_summaries (
  id uuid primary key default gen_random_uuid(),
  intake_id uuid not null references public.intakes (id) on delete cascade,
  overview text not null default '',
  timeline_summary text not null default '',
  readiness_indicators text[] not null default '{}',
  missing_document_alerts text[] not null default '{}',
  created_at timestamptz not null default now()
);

-- route_status: preview_sent | access_requested | full_access
create table if not exists public.firm_intake_routes (
  id uuid primary key default gen_random_uuid(),
  intake_id uuid not null references public.intakes (id) on delete cascade,
  firm_id uuid not null references public.firm_profiles (id) on delete cascade,
  route_status text not null default 'preview_sent',
  preview_sent_at timestamptz default now(),
  access_requested_at timestamptz,
  worker_approved_at timestamptz,
  created_at timestamptz not null default now(),
  unique (intake_id, firm_id)
);

create or replace function public.handle_new_user()
returns trigger language plpgsql security definer set search_path = public as $$
begin
  insert into public.profiles (id, email, full_name, role)
  values (new.id, new.email, coalesce(new.raw_user_meta_data->>'full_name', ''), null)
  on conflict (id) do update set email = excluded.email;
  return new;
end;
$$;

drop trigger if exists on_auth_user_created on auth.users;
create trigger on_auth_user_created after insert on auth.users
  for each row execute function public.handle_new_user();

create or replace function public.set_intakes_updated_at()
returns trigger language plpgsql as $$
begin new.updated_at = now(); return new; end; $$;

drop trigger if exists trg_intakes_updated on public.intakes;
create trigger trg_intakes_updated before update on public.intakes
  for each row execute function public.set_intakes_updated_at();

create or replace function public.lookup_firm_id_by_code(p_code text)
returns uuid language plpgsql security definer set search_path = public as $$
declare v_id uuid;
begin
  select fp.id into v_id from public.firm_profiles fp
  where upper(trim(fp.firm_code)) = upper(trim(p_code)) limit 1;
  return v_id;
end; $$;

grant execute on function public.lookup_firm_id_by_code(text) to authenticated;

alter table public.profiles enable row level security;
alter table public.firm_profiles enable row level security;
alter table public.intakes enable row level security;
alter table public.uploaded_files enable row level security;
alter table public.timeline_events enable row level security;
alter table public.intake_summaries enable row level security;
alter table public.firm_intake_routes enable row level security;

drop policy if exists "profiles_select_own" on public.profiles;
create policy "profiles_select_own" on public.profiles for select using (auth.uid() = id);
drop policy if exists "profiles_update_own" on public.profiles;
create policy "profiles_update_own" on public.profiles for update using (auth.uid() = id);
drop policy if exists "profiles_insert_own" on public.profiles;
create policy "profiles_insert_own" on public.profiles for insert with check (auth.uid() = id);

drop policy if exists "firm_profiles_select_own" on public.firm_profiles;
create policy "firm_profiles_select_own" on public.firm_profiles for select using (auth.uid() = profile_id);
drop policy if exists "firm_profiles_insert_own" on public.firm_profiles;
create policy "firm_profiles_insert_own" on public.firm_profiles for insert with check (auth.uid() = profile_id);
drop policy if exists "firm_profiles_update_own" on public.firm_profiles;
create policy "firm_profiles_update_own" on public.firm_profiles for update using (auth.uid() = profile_id);

drop policy if exists "intakes_worker_select" on public.intakes;
create policy "intakes_worker_select" on public.intakes for select using (auth.uid() = worker_id);
drop policy if exists "intakes_worker_insert" on public.intakes;
create policy "intakes_worker_insert" on public.intakes for insert with check (auth.uid() = worker_id);
drop policy if exists "intakes_worker_update" on public.intakes;
create policy "intakes_worker_update" on public.intakes for update using (auth.uid() = worker_id);
drop policy if exists "intakes_firm_select_routed" on public.intakes;
create policy "intakes_firm_select_routed" on public.intakes for select using (
  exists (select 1 from public.firm_intake_routes r join public.firm_profiles fp on fp.id = r.firm_id
          where r.intake_id = intakes.id and fp.profile_id = auth.uid()));

drop policy if exists "uploaded_files_worker_all" on public.uploaded_files;
create policy "uploaded_files_worker_all" on public.uploaded_files for all using (auth.uid() = worker_id) with check (auth.uid() = worker_id);
drop policy if exists "uploaded_files_firm_full_access" on public.uploaded_files;
create policy "uploaded_files_firm_full_access" on public.uploaded_files for select using (
  exists (select 1 from public.firm_intake_routes r join public.firm_profiles fp on fp.id = r.firm_id
          where r.intake_id = uploaded_files.intake_id and fp.profile_id = auth.uid() and r.route_status = 'full_access'));

drop policy if exists "timeline_worker_all" on public.timeline_events;
create policy "timeline_worker_all" on public.timeline_events for all using (
  exists (select 1 from public.intakes i where i.id = timeline_events.intake_id and i.worker_id = auth.uid()))
  with check (exists (select 1 from public.intakes i where i.id = timeline_events.intake_id and i.worker_id = auth.uid()));
drop policy if exists "timeline_firm_preview_or_full" on public.timeline_events;
create policy "timeline_firm_preview_or_full" on public.timeline_events for select using (
  exists (select 1 from public.firm_intake_routes r join public.firm_profiles fp on fp.id = r.firm_id
          where r.intake_id = timeline_events.intake_id and fp.profile_id = auth.uid()));

drop policy if exists "summary_worker_all" on public.intake_summaries;
create policy "summary_worker_all" on public.intake_summaries for all using (
  exists (select 1 from public.intakes i where i.id = intake_summaries.intake_id and i.worker_id = auth.uid()))
  with check (exists (select 1 from public.intakes i where i.id = intake_summaries.intake_id and i.worker_id = auth.uid()));
drop policy if exists "summary_firm_preview_or_full" on public.intake_summaries;
create policy "summary_firm_preview_or_full" on public.intake_summaries for select using (
  exists (select 1 from public.firm_intake_routes r join public.firm_profiles fp on fp.id = r.firm_id
          where r.intake_id = intake_summaries.intake_id and fp.profile_id = auth.uid()));

drop policy if exists "routes_worker_select" on public.firm_intake_routes;
create policy "routes_worker_select" on public.firm_intake_routes for select using (
  exists (select 1 from public.intakes i where i.id = firm_intake_routes.intake_id and i.worker_id = auth.uid()));
drop policy if exists "routes_worker_insert" on public.firm_intake_routes;
create policy "routes_worker_insert" on public.firm_intake_routes for insert with check (
  exists (select 1 from public.intakes i where i.id = firm_intake_routes.intake_id and i.worker_id = auth.uid()));
drop policy if exists "routes_worker_update" on public.firm_intake_routes;
create policy "routes_worker_update" on public.firm_intake_routes for update using (
  exists (select 1 from public.intakes i where i.id = firm_intake_routes.intake_id and i.worker_id = auth.uid()));
drop policy if exists "routes_firm_select" on public.firm_intake_routes;
create policy "routes_firm_select" on public.firm_intake_routes for select using (
  exists (select 1 from public.firm_profiles fp where fp.id = firm_intake_routes.firm_id and fp.profile_id = auth.uid()));
drop policy if exists "routes_firm_update" on public.firm_intake_routes;
create policy "routes_firm_update" on public.firm_intake_routes for update using (
  exists (select 1 from public.firm_profiles fp where fp.id = firm_intake_routes.firm_id and fp.profile_id = auth.uid()));

insert into storage.buckets (id, name, public) values ('intake-files', 'intake-files', false) on conflict (id) do nothing;

drop policy if exists "storage_intake_worker_rw" on storage.objects;
create policy "storage_intake_worker_rw" on storage.objects for all to authenticated using (
  bucket_id = 'intake-files' and split_part(name, '/', 1) = auth.uid()::text) with check (
  bucket_id = 'intake-files' and split_part(name, '/', 1) = auth.uid()::text);

drop policy if exists "storage_intake_firm_read" on storage.objects;
create policy "storage_intake_firm_read" on storage.objects for select to authenticated using (
  bucket_id = 'intake-files' and exists (
    select 1 from public.firm_intake_routes r
    join public.firm_profiles fp on fp.id = r.firm_id
    join public.intakes i on i.id = r.intake_id
    where r.route_status = 'full_access' and fp.profile_id = auth.uid()
      and split_part(name, '/', 1) = i.worker_id::text and split_part(name, '/', 2) = i.id::text));

-- Existing projects: add intake routing columns if missing
alter table public.intakes add column if not exists linked_firm_id uuid references public.firm_profiles (id) on delete set null;
alter table public.intakes add column if not exists submission_channel text;
