-- one3Seven public beta: database foundation (minimal, beta-safe)
-- Apply in Supabase SQL editor or CLI. Tighten RLS before production.
-- TypeScript client uses `firm_intake_routes`; a simple view maps to `intake_routes`.

create extension if not exists "pgcrypto";

-- 1. profiles
create table if not exists public.profiles (
  id uuid primary key references auth.users (id) on delete cascade,
  email text,
  full_name text,
  role text check (role is null or role in ('worker', 'firm')),
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

create index if not exists profiles_role_idx on public.profiles (role);

-- 3. firm_code_sequence (prefix = first 3 A-Z/0-9 of firm name; numeric part starts at 1001)
create table if not exists public.firm_code_sequence (
  prefix text primary key check (char_length(prefix) = 3),
  next_num integer not null default 1002 check (next_num >= 1002),
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

create or replace function public.reserve_firm_code_suffix(p_prefix text)
returns integer
language plpgsql
security definer
set search_path = public
as $$
declare
  v_prefix text;
  v_assigned integer;
begin
  v_prefix := upper(left(regexp_replace(coalesce(p_prefix, ''), '[^A-Z0-9]', '', 'g'), 3));
  if length(v_prefix) < 3 then
    v_prefix := 'FIR';
  end if;

  insert into public.firm_code_sequence (prefix, next_num)
  values (v_prefix, 1002)
  on conflict (prefix) do update
    set next_num = public.firm_code_sequence.next_num + 1,
        updated_at = now();

  select next_num - 1 into v_assigned from public.firm_code_sequence where prefix = v_prefix;
  return v_assigned;
end;
$$;

grant execute on function public.reserve_firm_code_suffix(text) to service_role;
grant execute on function public.reserve_firm_code_suffix(text) to authenticated;

-- 2. firm_profiles (belongs to firm user profile)
create table if not exists public.firm_profiles (
  id uuid primary key default gen_random_uuid(),
  profile_id uuid not null references public.profiles (id) on delete cascade,
  firm_name text not null,
  firm_code text not null unique,
  contact_email text,
  practice_areas text[] not null default '{}',
  geographic_filters text[] not null default '{}',
  subscription_status text not null default 'inactive'
    check (subscription_status in ('inactive', 'trialing', 'active', 'past_due', 'canceled')),
  plan_id text not null default 'beta',
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now(),
  unique (profile_id)
);

create index if not exists firm_profiles_profile_id_idx on public.firm_profiles (profile_id);

-- 4. intakes (belong to worker profiles)
create table if not exists public.intakes (
  id uuid primary key default gen_random_uuid(),
  worker_id uuid not null references public.profiles (id) on delete restrict,
  intake_number text not null unique,
  status text not null default 'draft' check (status in ('draft', 'submitted', 'archived')),
  workflow_status text not null default 'Upload Complete',
  linked_firm_id uuid references public.firm_profiles (id) on delete set null,
  submission_channel text check (submission_channel is null or submission_channel in ('firm_code', 'participating')),
  submitted_at timestamptz,
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

create index if not exists intakes_worker_id_idx on public.intakes (worker_id);
create index if not exists intakes_linked_firm_id_idx on public.intakes (linked_firm_id);

-- 5. uploaded_files (belong to intakes)
create table if not exists public.uploaded_files (
  id uuid primary key default gen_random_uuid(),
  intake_id uuid not null references public.intakes (id) on delete cascade,
  worker_id uuid not null references public.profiles (id) on delete restrict,
  file_name text not null,
  file_path text not null,
  file_type text,
  file_size bigint,
  category text,
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

create index if not exists uploaded_files_intake_id_idx on public.uploaded_files (intake_id);

-- 6. intake_routes (intake to firm; full files only after worker approval / full_access)
create table if not exists public.intake_routes (
  id uuid primary key default gen_random_uuid(),
  intake_id uuid not null references public.intakes (id) on delete cascade,
  firm_id uuid not null references public.firm_profiles (id) on delete cascade,
  route_status text not null default 'preview_sent'
    check (route_status in ('preview_sent', 'access_requested', 'full_access', 'declined', 'closed')),
  preview_sent_at timestamptz,
  access_requested_at timestamptz,
  full_access_granted_at timestamptz,
  worker_decided_at timestamptz,
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now(),
  unique (intake_id, firm_id)
);

create index if not exists intake_routes_firm_id_idx on public.intake_routes (firm_id);
create index if not exists intake_routes_intake_id_idx on public.intake_routes (intake_id);
create index if not exists intake_routes_status_idx on public.intake_routes (route_status);

drop view if exists public.firm_intake_routes;
create view public.firm_intake_routes as
select * from public.intake_routes;

-- 7. access_requests
create table if not exists public.access_requests (
  id uuid primary key default gen_random_uuid(),
  intake_route_id uuid not null references public.intake_routes (id) on delete cascade,
  intake_id uuid not null references public.intakes (id) on delete cascade,
  firm_id uuid not null references public.firm_profiles (id) on delete cascade,
  worker_id uuid not null references public.profiles (id) on delete restrict,
  status text not null default 'pending' check (status in ('pending', 'approved', 'denied', 'canceled')),
  firm_note text,
  decided_at timestamptz,
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

create index if not exists access_requests_route_idx on public.access_requests (intake_route_id);
create index if not exists access_requests_worker_idx on public.access_requests (worker_id);

-- 8. document_requests
create table if not exists public.document_requests (
  id uuid primary key default gen_random_uuid(),
  intake_route_id uuid references public.intake_routes (id) on delete set null,
  intake_id uuid not null references public.intakes (id) on delete cascade,
  firm_id uuid not null references public.firm_profiles (id) on delete cascade,
  worker_id uuid not null references public.profiles (id) on delete restrict,
  title text not null,
  requested_document_type text not null,
  note_to_worker text,
  status text not null default 'open' check (status in ('open', 'fulfilled', 'canceled')),
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

create index if not exists document_requests_intake_idx on public.document_requests (intake_id);

-- 9. notifications (worker and firm recipients)
create table if not exists public.notifications (
  id uuid primary key default gen_random_uuid(),
  recipient_profile_id uuid not null references public.profiles (id) on delete cascade,
  recipient_kind text not null check (recipient_kind in ('worker', 'firm')),
  title text not null,
  body text,
  read_at timestamptz,
  payload jsonb,
  related_intake_id uuid references public.intakes (id) on delete set null,
  related_route_id uuid references public.intake_routes (id) on delete set null,
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

create index if not exists notifications_recipient_unread_idx
  on public.notifications (recipient_profile_id)
  where read_at is null;

-- 10. subscriptions
create table if not exists public.subscriptions (
  id uuid primary key default gen_random_uuid(),
  firm_profile_id uuid not null references public.firm_profiles (id) on delete cascade,
  status text not null default 'trialing' check (status in ('trialing', 'active', 'past_due', 'canceled', 'incomplete')),
  plan_id text not null default 'beta',
  provider text,
  external_customer_id text,
  external_subscription_id text,
  current_period_end timestamptz,
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now(),
  unique (firm_profile_id)
);

-- RLS
alter table public.profiles enable row level security;
alter table public.firm_profiles enable row level security;
alter table public.firm_code_sequence enable row level security;
alter table public.intakes enable row level security;
alter table public.uploaded_files enable row level security;
alter table public.intake_routes enable row level security;
alter table public.access_requests enable row level security;
alter table public.document_requests enable row level security;
alter table public.notifications enable row level security;
alter table public.subscriptions enable row level security;

create policy profiles_select_own on public.profiles for select using (id = auth.uid());
create policy profiles_update_own on public.profiles for update using (id = auth.uid()) with check (id = auth.uid());
create policy profiles_insert_own on public.profiles for insert with check (id = auth.uid());

create policy firm_profiles_select_own on public.firm_profiles for select using (profile_id = auth.uid());
create policy firm_profiles_update_own on public.firm_profiles for update using (profile_id = auth.uid()) with check (profile_id = auth.uid());
create policy firm_profiles_insert_own on public.firm_profiles for insert with check (profile_id = auth.uid());

create policy firm_code_sequence_select_auth on public.firm_code_sequence for select to authenticated using (true);

create policy intakes_select_worker on public.intakes for select using (worker_id = auth.uid());
create policy intakes_insert_worker on public.intakes for insert with check (worker_id = auth.uid());
create policy intakes_update_worker on public.intakes for update using (worker_id = auth.uid()) with check (worker_id = auth.uid());

create policy uploaded_files_all_worker on public.uploaded_files for all using (
  exists (select 1 from public.intakes i where i.id = intake_id and i.worker_id = auth.uid())
) with check (
  exists (select 1 from public.intakes i where i.id = intake_id and i.worker_id = auth.uid())
);

create policy intake_routes_select_parties on public.intake_routes for select using (
  exists (select 1 from public.intakes i where i.id = intake_id and i.worker_id = auth.uid())
  or exists (select 1 from public.firm_profiles fp where fp.id = firm_id and fp.profile_id = auth.uid())
);

create policy intake_routes_insert_worker on public.intake_routes for insert with check (
  exists (select 1 from public.intakes i where i.id = intake_id and i.worker_id = auth.uid())
);

create policy intake_routes_update_parties on public.intake_routes for update using (
  exists (select 1 from public.intakes i where i.id = intake_id and i.worker_id = auth.uid())
  or exists (select 1 from public.firm_profiles fp where fp.id = firm_id and fp.profile_id = auth.uid())
);

create policy access_requests_select_parties on public.access_requests for select using (
  worker_id = auth.uid()
  or exists (select 1 from public.firm_profiles fp where fp.id = firm_id and fp.profile_id = auth.uid())
);

create policy access_requests_insert_firm on public.access_requests for insert with check (
  exists (select 1 from public.firm_profiles fp where fp.id = firm_id and fp.profile_id = auth.uid())
);

create policy access_requests_update_worker on public.access_requests for update using (worker_id = auth.uid());

create policy document_requests_select_parties on public.document_requests for select using (
  worker_id = auth.uid()
  or exists (select 1 from public.firm_profiles fp where fp.id = firm_id and fp.profile_id = auth.uid())
);

create policy document_requests_insert_firm on public.document_requests for insert with check (
  exists (select 1 from public.firm_profiles fp where fp.id = firm_id and fp.profile_id = auth.uid())
);

create policy document_requests_update_parties on public.document_requests for update using (
  worker_id = auth.uid()
  or exists (select 1 from public.firm_profiles fp where fp.id = firm_id and fp.profile_id = auth.uid())
);

create policy notifications_select_own on public.notifications for select using (recipient_profile_id = auth.uid());
create policy notifications_update_own on public.notifications for update using (recipient_profile_id = auth.uid());
create policy notifications_insert_deny on public.notifications for insert to authenticated with check (false);

create policy subscriptions_select_own on public.subscriptions for select using (
  exists (select 1 from public.firm_profiles fp where fp.id = firm_profile_id and fp.profile_id = auth.uid())
);

create policy subscriptions_insert_own on public.subscriptions for insert with check (
  exists (select 1 from public.firm_profiles fp where fp.id = firm_profile_id and fp.profile_id = auth.uid())
);

create policy subscriptions_update_own on public.subscriptions for update using (
  exists (select 1 from public.firm_profiles fp where fp.id = firm_profile_id and fp.profile_id = auth.uid())
);

-- New user: profile row
create or replace function public.handle_new_user()
returns trigger
language plpgsql
security definer
set search_path = public
as $$
begin
  insert into public.profiles (id, email)
  values (new.id, new.email)
  on conflict (id) do nothing;
  return new;
end;
$$;

drop trigger if exists on_auth_user_created on auth.users;
create trigger on_auth_user_created
  after insert on auth.users
  for each row execute procedure public.handle_new_user();

-- Operator notes:
-- * firm_profiles.firm_code: build as prefix || reserve_firm_code_suffix(firm_name).
-- * Client inserts to firm_intake_routes hit the view; if PostgREST rejects writes, insert into intake_routes instead.
-- * Add timeline_events, intake_summaries, storage bucket intake-files in a follow-up migration to match the app.

-- Optional: matches intakeDataService.lookupFirmIdByCode RPC (beta)
create or replace function public.lookup_firm_id_by_code(p_code text)
returns uuid
language sql
stable
security definer
set search_path = public
as $$
  select id
  from public.firm_profiles
  where upper(trim(firm_code)) = upper(trim(p_code))
  limit 1;
$$;

grant execute on function public.lookup_firm_id_by_code(text) to authenticated;
